* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: url("/media/checkbox-blank-circle-+fill.svg"), pointer !important; */
}
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  font-family: Moderat, Avenir, sans-serif;
  /* scrollbar-width: 3px; */
  /* position: relative; */
  cursor: none;
  overflow-x: hidden;
}
/* .logo {
  position: absolute;
} */
.cursor {
  height: 20px;
  width: 20px;
  border: 2px solid burlywood;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
}
.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 6px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.6);
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.burst {
  animation: cursorAnim4 0.5s forwards;
  border: 5px solid purple;
}
@keyframes cursorAnim4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(3);
  }
}

.wrp {
}
.wrp1 {
  height: 100vh;
  width: 100%;
  background-color: #b4b4b4;
  background: url("./media/stratis-bakasnewc.jpg"), #b4b4b4;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  padding: 2rem;
}
.heading {
  margin-left: 8rem;
  margin-top: 16rem;
}
.wrp1 h2 {
  font-size: 6rem;
}
.wrp1 h1 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  font-weight: 700;
}
.wrp2 {
  height: max-content;
  width: 100%;
  padding: 2rem 8rem;
  color: black;
  position: relative;
}
.wrp2::after {
  content: "";
  width: 35rem;
  height: 13rem;
  box-shadow: 0.1rem 0.5rem 1rem 1.2rem rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 20rem;
  left: 8rem;
  z-index: 3;
}
.contents {
  margin-top: 12rem;
  margin-bottom: 10rem;
}
.contents::after {
  content: "";
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  position: absolute;
  top: 35rem;
  left: 5rem;
  z-index: 3;
}
.contents h1 {
  font-size: 5rem;
  margin-left: 15rem;
  line-height: 6rem;
  padding-right: 8rem;
}
.contents p {
  margin-top: 2rem;
  color: #737373;
  font-size: 1.09rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin-left: 15rem;
}
.wrp3 {
  height: max-content;
  width: 100%;
  padding: 0 8rem;
  padding-bottom: 10rem;
  /* background-color: #b4b4b4;
  background: url("./media/stratis-bakasnew.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; */
}
.grp {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: 0.1px solid #73737325;
}
.onegrp {
  height: 17.5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem 1rem;
  outline: 0.1px solid #73737325;
}
.onegrp:hover {
  background-color: black;
}
.onegrp img {
  padding: 2rem 4rem 0;
  transition: all 0.5s ease-in-out;
}
.onegrp:hover img {
  padding: 1rem 4rem 0;
}
.title {
  padding: 1.5rem 2.5rem 0;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.onegrp:hover .title {
  margin: 0;
  color: white;
}
.show {
  display: none;
  /* visibility: hidden; */
  color: #737373;
  height: 100%;
  width: 100%;
  padding: 0 0.4rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  text-align: center;
}
.onegrp:hover .show {
  display: flex;
  color: #737373;
  margin-top: 1.5rem;
  /* visibility: initial; */
}
.wrp4 {
  position: relative;
  height: max-content;
  width: 100%;
  padding-top: 5rem;
}
.wrp4img {
  position: absolute;
  background: linear-gradient(0deg, #518bf085, #518bf085),
    url(./media/winter.jpg);
  background-repeat: no-repeat;
  height: 40%;
  width: 45%;
  color: white;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2.5rem;
  top: 25%;
  box-shadow: 0.1rem 0.5rem 3rem 1.2rem rgba(0, 0, 0, 0.1);
}
.firstone::before {
  content: "";
  position: absolute;
  height: 14rem;
  width: 2px;
  background-color: #73737325;
  top: -5rem;
  right: 50%;
  z-index: 3;
}
.firstone {
  background-color: #f1f6fa;
  height: 120vh;
  margin-left: 15rem;
  margin-right: 3rem;
  padding-left: 38%;
  padding-top: 12rem;
}
.firstone h4 {
  color: black;
  width: 24rem;
  margin-bottom: 2rem;
  font-weight: 200;
}
.firstone p {
  color: #737373;
  width: 24rem;
  line-height: 2rem;
}
.secondone {
  /* background-color: #f1f6fa; */
  height: 100vh;
  margin-right: 25rem;
  margin-left: 12rem;
  /* padding-left: 38%; */
  padding-top: 16rem;
}
.secondone h4 {
  color: black;
  width: 24rem;
  margin-bottom: 2rem;
  font-weight: 200;
}
.secondone p {
  color: #737373;
  width: 24rem;
  line-height: 2rem;
}
.wrp4vid {
  position: absolute;
  height: 40%;
  width: 50%;
  background-color: white;
  top: 45%;
  left: 50%;
  box-shadow: 0.1rem 0.5rem 3rem 1.2rem rgba(0, 0, 0, 0.1);
}
.wrp4vid video {
  height: 100%;
  width: 100%;
}
.bttn {
  position: absolute;
  top: 90%;
  left: 50%;
}
.btn {
  color: white;
  font-size: 1rem;
  padding: 1.2rem 1rem;
  border-radius: 0.3rem;
  margin-top: 10rem;
  /* margin-left: 50%; */
  text-decoration: none;
  background-color: black;
}
.btn:hover {
  cursor: pointer;
}
.wrp5 {
  height: max-content;
  width: 100%;
  padding: 2rem 15rem;
  color: black;
}
.tab {
  height: max-content;
  width: 100%;
  display: flex;
  /* background-color: #737373; */
  box-shadow: 0.1rem 0.5rem 3rem 1.2rem rgba(0, 0, 0, 0.05);
}
.onetab {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 3.5rem;
}
.onetab:hover {
  cursor: pointer;
  background-color: #f1f6fa;
}
.tt {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: black;
}
.onetab p:nth-child(3) {
  color: #737373;
  margin-top: 2rem;
  line-height: 2rem;
  text-align: center;
}
footer {
  height: 80vh;
  margin: 8rem;
  animation: forwards;
  transition: all 1.5s ease-in-out;
  /* background-color: #737373; */
  /* display: flex; */
}
.line {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.one {
  height: 14rem;
  width: 18%;
}
.one h3 {
  height: 2rem;
  padding: 0.3rem 0;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
}
.one p {
  font-size: 0.9rem;
  height: 2rem;
  color: #737373;
  display: flex;
  align-items: center;
}
.last {
  width: 18%;
  font-size: 0.75rem;
  line-height: 2rem;
  height: 2rem;
  color: #737373;
  display: flex;
  align-items: center;
}
