* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: url("/media/checkbox-blank-circle-fill.svg"), pointer !important; */
}
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  font-family: Moderat, Avenir, sans-serif;
  /* scrollbar-width: 3px; */
  /* position: relative; */
  overflow-x: hidden;
}
/* .logo {
  position: absolute;
} */
.wrp {
}
.wrp1 {
  height: 100vh;
  width: 100%;
  background-color: #b4b4b4;
  background: url("./media/stratis-bakasnew.jpg"), #b4b4b4;
  background-position-x: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  padding: 2rem;
}
.heading {
  margin-left: 8rem;
  margin-top: 16rem;
}
.wrp1 h2 {
  font-size: 6rem;
}
.wrp1 h1 {
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  font-weight: 700;
}
.wrp2 {
  height: max-content;
  width: 100%;
  padding: 2rem 8rem;
  color: black;
  position: relative;
}
.wrp2::after {
  content: "";
  width: 35rem;
  height: 13rem;
  box-shadow: 0.1rem 0.5rem 1rem 1.2rem rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 20rem;
  left: 8rem;
  z-index: 3;
}
.contents {
  margin-top: 12rem;
  margin-bottom: 10rem;
}
.contents::after {
  content: "";
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  position: absolute;
  top: 35rem;
  left: 5rem;
  z-index: 3;
}
.contents h1 {
  font-size: 5rem;
  margin-left: 15rem;
  line-height: 6rem;
  padding-right: 8rem;
}
.contents p {
  margin-top: 2rem;
  color: #737373;
  font-size: 1.09rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin-left: 15rem;
}
.wrp3 {
  height: max-content;
  width: 100%;
  padding: 0 8rem;
  padding-bottom: 10rem;
  /* background-color: #b4b4b4;
  background: url("./media/stratis-bakasnew.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; */
}
.grp {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: 0.1px solid #73737325;
}
.onegrp {
  height: 17.5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem 1rem;
  outline: 0.1px solid #73737325;
}
.onegrp:hover {
  background-color: black;
}
.onegrp img {
  padding: 2rem 4rem 0;
  transition: all 0.5s ease-in-out;
}
.onegrp:hover img {
  padding: 1rem 4rem 0;
}
.title {
  padding: 1.5rem 2.5rem 0;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.onegrp:hover .title {
  margin: 0;
  color: white;
}
.show {
  display: none;
  /* visibility: hidden; */
  color: #737373;
  height: 100%;
  width: 100%;
  padding: 0 0.4rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  text-align: center;
}
.onegrp:hover .show {
  display: flex;
  color: #737373;
  margin-top: 2rem;
  /* visibility: initial; */
}
